<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/self', user: current_user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>users</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody style="background-color: #ffffff;">
          <% @users.each do |user| %>
            <tr style="background-color: #ffffff;">
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

